/*! http://responsiveslides.com v1.52 by @viljamis */
.slider{position:relative}
.slid-btns_nav{
  z-index:3;
  position:absolute;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  top:50%;
  left:0;
  opacity:.2;
  text-indent:-9999px;
  overflow:hidden;
  text-decoration:none;
  height:61px;width:38px;
  background:transparent url("../img/themes.gif") no-repeat left top;
  margin-top:-30px;
  -webkit-transition:opacity .3s;
  -moz-transition:opacity .3s;
  -ms-transition:opacity .3s;
  -o-transition:opacity .3s;
  transition:opacity .3s;
}
.slid-btns_nav:hover{opacity:.4}
.slid-btns_navactive{opacity:1}
.slid-btns_nav.next{left:auto;background-position:right top;right:0}
.slid-btns_navfocus{outline:none}
.slid-btns .caption{
  display:block;
  position:absolute;
  z-index:2;
  text-align:center;
  color:#fafafa;
  width:60%;
  font-size:20px;
  left:20%;
  right:20%;
  top:25%;
  margin:0;
  max-width:none;
  text-shadow:0 1px 10px rgba(0,0,0,0.85);
}
.slid-btns .caption h3{
  background:rgba(2,191,119,0.75);
  display:inline;
  color:#fff;
  padding:.5em .8em;
  text-shadow:0 1px 3px rgba(0,0,0,0.4);
  font-size:30px;
  font-weight:400;
  text-transform:uppercase;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  height: 400px;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  height: 400px;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
